NODE_ENV=local

PORT=5001

DATABASE_URL=postgres://postgres:postgres@localhost:5432/taxmind

JWT_ACCESS_TOKEN_SECRET=
JWT_REFRESH_TOKEN_SECRET=
JWT_ACCESS_TOKEN_EXPIRE=7d
JWT_REFRESH_TOKEN_EXPIRE=30d

AWS_S3_BUCKET_NAME=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_REGION=eu-west-1
AWS_S3_URL=
S3_SIGNED_URL_EXPIRY=86400
SUPPORT_EMAIL_ID=

ADMIN_DASHBOARD_BASE_URL=

HMAC_SECRET_KEY=
ENCRYPTION_SECRET_KEY=

ZOHO_CLIENT_ID=
ZOHO_CLIENT_SECRET=
ZOHO_AUTHORIZED_REDIRECT_URL=
ZOHO_ACCOUNTS_URL=https://accounts.zoho.com
ZOHO_REFRESH_TOKEN=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_SERVICE_SID=

REVOLUT_API_SECRET_KEY=
REVOLUT_API_PUBLIC_KEY=
REVOLUT_API='https://sandbox-merchant.revolut.com'
REVOLUT_WEBHOOK_URL=
REVOLUT_ENV=sandbox
