node_modules
.env
build
.env.local
.env.development
.env.production
.env.staging

test.js
*-firebase-adminsdk-*.json
notes.txt
logs

dist
logs
start.sh
.husky_backup
NOTES.txt
copilot-instructions.md
api-responses-sample/**
server-config.txt
deploy-dev.sh
.secrets
